@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;





@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.woff2') format('woff2'), /* adjust path to your font files */
       url('./fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('./fonts/Inter-Bold.woff2') format('woff2'),
       url('./fonts/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.font-medium{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
.font-bold{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

